@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Kablammo&family=Roboto:wght@400;900&display=swap');
/* box-shadow: 0px 0px 10px 10px black; */

main{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    color: white;
    margin-top: 30px;
}

main > div{
    /* background-color: red; */
    height: 200px;
    width: 30%;
    margin-bottom: 30px;
    position: relative;
}
.cooldownDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 106%);
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    text-align: center; 
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    padding: 10px 0;
}
a{
    text-decoration: none;
    color: red;
}