@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');


body{
    background-image: url(../img/fon.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
}
img{
    width: 100%;
}
header img:first-child{
    width: 80px;
    height: 100%;
}
.logo{
    display: flex;
    padding: 5px 0px;
}
.resau{
    padding-left: 20px;
    width: 300px;
    display: flex;
    align-items: center;
    font-size: 30px;
    justify-content: space-between;
}
i{
    color: gray;
}
.twitch:hover{
    color: #8c00ff;
}
.youtube:hover{
    color: #ff0000;
}
.tiktok:hover{
    color: #5e61b0;
}
.twitter:hover{
    color: #00bfff;
}
.instagram:hover{
    color: #ff70d2;
}
header{
    display: flex;
    background-color: black;
    border-bottom: 2px solid aqua;
    margin-bottom: 8px;
}
.hdrp{
    color: white;
    font-size: 40px;
    margin: 0;
    display: flex;
    align-items: end;
    font-family: 'Carter One', cursive;
}
.contener{
    width: 1200px;
    margin: auto;
    /* height: 800px;
    background-color: rgb(48, 48, 48); */
}
nav{
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
a{
    color: gray;
    text-decoration: none;
    font-weight: 700;
    font-size: 30px;
}
.active{
    color: white;
}
ul{
    list-style-type: none;
    display: flex;  
    padding: 0;
    width: 100%;
    justify-content: space-around;
}



/* FOOTER */
footer{
    position:absolute;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    background-color: black;
    border-top: 2px solid aqua;
}
.ftr{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}
.ftrimg{
    width: 50px;
}
.mail{
    color: white;
}