label{
    color: white;
    text-transform: uppercase;
}

.select{
    background-color: rgb(39, 37, 37);
    height: 30px;
}
.img{
    background-color: red;
    height: 150px;
    width: 150px;
}